html {
  font-size: 18px; /* default is usually 16px */
}

body {
  font-size: 1rem; /* keep body text tied to the base size */
}

body {
  opacity: 0;
}

.site-title {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.site-title img {
  height: 1em;
}

header.post-header {
  display: none;;
}

:is(.post-title, .post-content) h1 { font-size: 2rem; }
:is(.post-title, .post-content) h2 { font-size: 1.75rem; }
:is(.post-title, .post-content) h3 { font-size: 1.5rem; }
:is(.post-title, .post-content) h4 { font-size: 1.25rem; }
:is(.post-title, .post-content) h5 { font-size: 1.125rem; }
:is(.post-title, .post-content) h6 { font-size: 1.125rem; }

/* Mobile devices */
@media screen and  (max-width: 600px) {
  .wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 0.5em;
  }
}

/* larger screens */
@media (min-width: 600px) {

  .iframe-container iframe {
    flex: 1 1 100%; /* Each item takes full width on smaller screens */
  }

  sl-card {
    max-width: 300px;
  }

  .fill {
    width: 100% !important;
    height: 100% !important;
  }

  .float {
    float: right;
    margin-left: 1rem;
    display: flow-root;
  }

  .center {
      display: block;
      margin: 0 auto;
  }

  .shadow,
  .box-shadow {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  }

  .large {
    width: 75% !important;
    flex-grow: 0.75 !important;
  }

  .medium {
    width: 50% !important;
    flex-grow: 0.5 !important;
  }

  .small {
    width: 33% !important;
    flex-grow: 0.33 !important;
  }

}
